body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

header {
    background-color: #2434A1;
    padding: 20px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.hero {
    background-color: #356AF5;
    color: #ffffff;
    padding: 100px 20px;
    text-align: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text {
    margin-bottom: 20px;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.hero .cta {
    background-color: #FFC651;
    color: #2434A1;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
}

main section {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    max-width: 1000px;
    flex-wrap: wrap;
}

.section-text {
    flex: 1;
    margin-right: 20px;
}

.section-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    flex: 1;
}

h1, h2 {
    color: #2434A1;
}

footer {
    background-color: #2434A1;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

